html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   font-family: 'Rajdhani', sans-serif;
   vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/*CSS RESET*/

a {
  text-decoration: none;   
  display: block;
  width: 100%;
  height: 100%;
}

/*------------------------------------------------------------*/

body {
      background: #9595db;
      color: #fff;
      text-align: center;
      }
      
      
#clock{width:795px; height: 420px; background: #fff;
        margin: 20% auto; border-radius: 15px; }

#clock_L{width: 640px; height: 300px; background: #343434;
      float: left; margin:30px 0 0 25px; border-radius: 20px;}
#button { float: left; margin: 30px; }    
#week { font-size: 25px;margin: 40px 0 ; }
#week span{margin: 0 20px; color: #656565;}
#week .active{color: #a5a5a5; }
#time{font-size: 8.5em;}
#time span{margin: 0 5px; }
#ampm{font-size: 20px; text-transform: uppercase; display: inline-block;}
#button div{ margin:30px 0;  color:transparent; font-size: 0; }
#nowTime{ width:62px ; height: 62px; background:url(/now_off.png);}
#nowTime:hover { width:62px ; height: 62px; background:url(/now_on.png);}
#alram{ width:62px ; height: 62px; background:url(/alram_off.png);}
#alram:hover{ width:62px ; height: 62px; background:url(/alram_on.png);}
#lapTime{ width:62px ; height: 62px; background:url(/lap_off.png);}
#lapTime:hover{ width:62px ; height: 62px; background:url(/lap_on.png);}

#addBt{ }
#addBt button{background: #e6e6e6; border:none; padding: 10px 20px; margin: -10px 15px; }
  
