html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*start*/
h1{margin: 0 auto;width: 368px;height: 250px;background: url(image/hh.png)no-repeat;background-size: contain;font-size: 19px;line-height: 250px;text-align: center;}
body {
  width: 100%;
  background-color: #d7dbe7;
  font-size: 50px;
  font-family: sans-serif;
  position: relative;
}

.wrp {
  width: 900px;
  height: 1000px;
  margin: 0 auto;
}

section {}

article {
  /*margin-top: 30px;padding-top: 50px;
  border-top: 1px solid #fff;*/
  float: left;
  width: 410px;
  height: 400px;
  margin-bottom: 50px;
}

article:nth-child(2n) {
  float: right;
}
.date{margin-top:0;}
.date span{font-size: 35px;}
.clock {
  color: #fff;
  font-size: 70px;
}

.clock div {
  text-align: center;
}
.clo{padding-top: 200px;}

.timer {
  background: url(image/stopwatch.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.timewrp {
  width: 400px;
  font-size: 30px;
  padding-top: 200px;
  padding-left: 10px;
  text-align: center;
}
#lapTimes{width: 160px;margin: 0 auto;overflow-y: scroll;margin-top: 10px;height: 60px;}
#lapTimes li {font-size: 20px;}

.alarm {
  background: url(image/alarm.png) no-repeat;
  background-size: contain;
  background-position: center;
}
.alarms{font-size: 17px;}

.alarmwrp {
  text-align: center;
  padding-top: 170px;
}
.alarmbtn{margin-left: 65px;width: 270px;margin-top: -20px;}

.alarmsettime {
  padding-top: 7px;
}
.alarmwrp a{font-size: 11px;background-color:#ffe400; border: 1px solid #ffe400;border-radius: 50%;padding: 9px;}

#setbtns{
  margin-top: 40px;
}
#setbtns a{
  background-color: #ffe400; border: 3px solid red;
}


.world {
  background: url(image/world.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.worlds {
  margin: 0 auto;
  width: 170px;
  height: 100px;
  overflow-y: scroll;
  font-size: 35px;
}
.worlds a{color:#fff;display: block;cursor: pointer;font-size: 18px;padding: 2px;}
.worlds>a:hover{font-size: 19px;color:#f4deff;}
.worldwrp {
  margin-top: 100px;
  text-align: center;
}

.worldsettime {
  color: #fff;
  font-size: 40px;
  margin-top: 140px;
}

.cal {
  background: url(image/calculator.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.calbuttons {
  margin-left: 62px;
  padding-top:23px;
  font-size: 34px;
  width: 320px;
}
#calIs{text-align: right;height:50px;margin-left:13px;margin-bottom: 37px;width: 260px;overflow:hidden;line-height: 50px;}

#total {
  margin-top: 50px;
  text-align: center;
  line-height: 340px;
  background-color: #8ca8ab;
  width: 50px;
  height: 600px;
  border-radius: 36%;padding:30px 18px;margin-left: 15px;
}
/*.totalli{list-style: none;  margin-left: 15px;
  float: left;
  text-align: center;
  line-height: 58px;
  background-color: #8ca8ab;
  width: 50px;
  height: 40px;
  border-radius: 45%;}*/

.notnum li {
  margin-left: 15px;
  float: left;
  text-align: center;
  line-height: 58px;
  background-color: #8ca8ab;
  width: 50px;
  height: 40px;
  border-radius: 45%;
}

.calnums>ul {
  padding-top: 40px;
  width: 240px
}

/*.calnums ul li {
  margin-top: 5px;
  margin-left: 15px;
  float: left;
  text-align: center;
  line-height: 58px;
  background-color: #8ca8ab;
  width: 50px;
  height: 50px;
  border-radius: 48%;
}*/
.calnums ul li a{
  cursor: pointer;
  margin-top: 5px;
  margin-left: 15px;
  float: left;
  text-align: center;
  line-height: 58px;
  background-color: #8ca8ab;
  width: 50px;
  height: 50px;
  border-radius: 48%;
}


/*로또*/
.lotto{display: block;}
.lotto span{padding-top: 100px;
  display:block;text-align: center;margin: 0 auto;
  font-size: 25px;
}
#nooo {padding-top:13px;display:block;text-align: center;margin: 0 auto;font-size: 15px;color: #5b5b5b;}
.lottoNums{display: block;height: 50px;margin-top: 30px;}
.lottoNums li{
  font-size: 20px;text-align: center;line-height: 45px;
  float: left;margin-right: 5px;
  width: 43px;height: 43px;
  border-radius: 50%;
}
.lottoBtn{margin-top: 50px;text-align: center;}
.lottoBtn li{display:inline-block;text-align: center;}
.lottoBtn li a{
  background-color: #fff;
  font-size: 20px;text-align: center;line-height: 62px;
  float: left;margin-right: 5px;
  width: 60px;height: 60px;
  border-radius: 50%;
}
#lotto1 , #lotto4 ,#lotto7{background-color: #fbc34b;}
#lotto2 , #lotto5{background-color: #8ec6e5;}
#lotto3 , #lotto6{background-color: #ef8d82;}
.lottoBtn li a:hover{
  background-color: #fff3ca;
}
.user{}
#scrolltop{cursor: pointer;display:block;margin: 0 auto;padding: 20px;width: 60px;height: 60px;border: 1px solid #fff;border-radius: 50%;font-size:0px;text-indent: -9999px;background: url(image/top.png) no-repeat;background-size: cover;margin-bottom: 50px;}
.me{text-align: center;
  font-size: 20px;
  padding-top: 150px;
}









.fin>span{display: inline-block;text-align: center;padding-top: 60px;}
