* {padding: 0;margin: 0;}
#wrapper {}
#wrapper .vid-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.bgvid {
    position: absolute;
    left: 0;
    top: 0;
}
.container {
    width: 1300px;
    height: 600px;
    position: absolute;
    top:calc(39vh - 200px);
    left:calc(27vw - 200px);
    overflow: hidden;
}
.container .bgvid.inner {
    top:calc(-39vh + 200px);
    left:calc(-27vw + 200px);
    -webkit-filter:blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}
.container .box {
    position: absolute;
    height: 600px;
    width: 1300px;
    font-family:'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.49);
}
.container .box #nav-box a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 5px;
    float: right;
    padding: 10px;
    margin: 10px 140px 0px 100px;
}
.container .box #nav-box #line1 {
    position: absolute;
    margin-left: 805px;
    margin-top: 26px;
    display: inline-block;
    width: 170px;
    height: 3px;
    background-color: #fff;
}
.container .box #nav-box #line2 {
    position: absolute;
    margin-left: 1190px;
    margin-top: 26px;
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: #fff;
}
/*.container .box #nav-box #line3 {
    position: absolute;
    margin-left: 1257px;
    margin-top: 26px;
    display: inline-block;
    width: 3px;
    height: 300px;
    background-color: #fff;
}*/
.container .box #nav-box #line4 {
    position: absolute;
    margin-left: 39px;
    margin-top: 26px;
    display: inline-block;
    width: 270px;
    height: 3px;
    background-color: #fff;
}
#wrpapper {
    margin-left: 100px;
}
#stopWatch {
    color: #fff;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 50px;
}
#st_container {
    margin-left: 50px;
    margin-top: 40px;
}
