
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************/

html,body{height: 100%;	background: linear-gradient(to right, #83a4d4, #b6fbff);}
section{
	padding: 190px 0;
}
.clock{

}
button{background-color: #fff; width: 100px;}
button:hover{border: 1px solid #95c1e4; background-color: #95c1e4;}
button:active{}

.block #menu{
	height: 300px;
	float: left;
	color: #caf0ff; font-size: 20px;
	padding-left: 20px;
	padding-top: 100px;
}
.block #menu h1{
	width: 100px;
	height: 30px;
	padding-bottom: 50px;
}
.style a:link{color: #caf0ff; text-decoration: none;}
.style a:hover{
	border: 0 solid rgba(202, 240, 255, 0.2);
	background-color: rgba(202, 240, 255, 0.2);
	padding: 13px 20px 13px 0;
}
#menu h1 a:active{}
#menu h1

#menu h2{
	padding-bottom: 50px;
}
#menu h3{}

#clock{
	text-align: center; color: #fff; font-size: 100px;
	margin: 0px auto;
	border: 1px solid #fff;
	border-radius:300px;
	width:500px;
	height:300px;
	padding-top: 100px;

}
#clock h1{
	font-size: 50px;
	padding-bottom: 30px;
}

article #stopwatch{
	margin-top: 100px;
	text-align: center; color: #fff; font-size: 100px;
	margin: 70px auto;
	border: 1px solid #fff;
	border-radius:300px;
	width:500px;
  height:300px;
	padding-top: 100px;
}
#stopwatch h1{
	font-size: 50px;
	padding-bottom: 30px;
}

#swbox{
	display: inline-block;
	float: right;
	font-size: 30px;
}

#stbt{
	margin-top: -30px;
}

button{
	border: 1px solid #fff;
	border-radius:300px;
	font-size: 15px;

}

#alarm{
	margin-top: 100px;
	text-align: center; color: #fff; font-size: 100px;
	margin: 70px auto;
	border: 1px solid #fff;
	border-radius:300px;
	width:500px;
  height:300px;
	padding-top: 100px;
	box-shadow: 25px 25px 3px rgba(0 , 0, 0, 0.1);
}
#alarm h1{
	font-size: 50px;
	padding-bottom: 30px;
}
#alarm button{}


/*
#alarm:hover{
	color: black;
	opacity: 0.3;
}*/
