@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
a{display: block; width: 100%; height: 100%;}
li{list-style: none;}
button{outline: none;}

body,html{
	width: 100%;
	height: 100%;
	min-width: 1100px;
	font-family: 'Lato', sans-serif;
}
section,article{height: 100%;}
section{
	position: relative;
	width: 400%;
	/*이동 효과*/
	-webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
#slideshow-wrap{width: 100%; height: 100%; overflow: hidden; background: url('../images/background.jpg');}
#slideshow-inner{width: 100%;position: relative; height: 100%; overflow: hidden;}
article{float: left;width: 25%;}

/*clock*/

#clock{
	background-size: cover;
	position: relative;
}
#clock>div{
	position: absolute;
	background: url('../images/big_circle.png')no-repeat center;
	background-size: cover;
	width:550px; height: 550px;
	border-radius: 50%;
	top: 50%; left: 50%;
	margin: -275px 0 0 -275px;
}
#clock div span{display: inline-block;}
#clock div #circle_sec{
	display: block;
	position: absolute;
	width: 610px; height: 610px;
	top:50%; left: 50%;
	margin: -305px 0 0 -305px;
}
#clock div #circle_sec #clock_sec{
	background: url('../images/circle_sec.png')no-repeat center;
	background-size: 60px 60px;
	position: absolute;
	top:0; left:50%;
	margin-left: -30px;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	color:#000;
	font-weight: bold;
	width: 60px; height: 60px;
	border-radius: 50%;
}
#clock div #circle_min{
	display: block;
	position: absolute;
	width: 390px; height: 390px;
	top:50%; left: 50%;
	margin: -195px 0 0 -195px;
	z-index: 2;
}
#clock div #circle_min #clock_min{
	background: url('../images/circle_min.png')no-repeat center;
	background-size: 90px 90px;
	position: absolute;
	top:0; left:50%;
	margin-left: -45px;
	text-align: center;
	line-height: 90px;
	font-size: 35px;
	font-weight: bold;
	color:#000;
	width: 90px; height: 90px;
	border-radius: 50%;
}
#clock div #clock_hour{
	position: absolute;
	top:50%; left: 50%;
	font-size: 120px;
	text-align: center;
	width: 300px;
	height: 300px;
	line-height: 300px;
	margin: -150px 0 0 -150px;
	border-radius: 50%;
	background-image: linear-gradient(122deg,#f857a6,#ff5858);
	font-weight: bold;
	color: #fff;
}
#clock ul{position: absolute; top: 50%; left: 50%; margin-left: 275px;}
#clock ul li{float: left; letter-spacing: 10px; font-size: 30px; height: 30px; font-style: italic; color:#fff;}
#clock ul li:first-child{border-bottom: 1px solid #fff; width: 200px; height: 14px; margin-right: 20px;}

/*worldclock*/

#worldclock{position: relative;}
#worldclock>div{
	background: url('../images/map.png')no-repeat center;
	background-size: cover;
	width: 1000px; height: 560px;
	position: absolute;
	top: 50%; left: 50%;
	margin: -280px 0 0 -550px;
}
#worldclock div ul{height: 100%; position: relative;}
#worldclock div ul li{
	width: 100px;
	/*border: 1px solid #fff;*/
	color: #fff;
	font-style: italic;
	position: absolute;
}
#worldclock div ul li:first-child{top: 160px; left: 140px;}
#worldclock div ul li:nth-child(2){top: 200px; left: 280px;}
#worldclock div ul li:nth-child(3){bottom: 100px; left: 360px;}
#worldclock div ul li:nth-child(4){top: 110px; left: 400px;}
#worldclock div ul li:nth-child(5){top: 175px; left: 485px;}
#worldclock div ul li:nth-child(6){top: 155px; right: 310px;}
#worldclock div ul li:nth-child(7){top: 145px; right: 165px;}
#worldclock div ul li:nth-child(8){top: 220px; right: 35px;}
#worldclock div ul li:last-child{bottom: 40px; right: -85px;}
#worldclock div ul li dl dt{text-align: center; line-height: 30px;}
#worldclock div ul li dl dd{display: inline-block; margin-right: 10px; margin-left: 17px;}
#worldclock div ul li dl dd:last-child{margin-right: 0; margin-left: 10px;}

/*stopwatch*/

#stopwatch{
	font-weight: bold;
	position: relative;
	min-width: 1100px;
	background-size: 70%;
	text-align: center;
}
#stopwatch div{
	position: absolute;
	top:50%; left: 50%;
	margin: -205px 0 0 -310px;
}
#stopwatch #stop_hour{color: #F62459; font-size: 250px;}
#stopwatch #stop_min{color: #fff; font-size: 160px;}
#stopwatch #stop_sec{
	color: #ffe5e3;
	font-size: 80px;
	width: 120px; height: 120px;
	font-weight: 300;
	bottom: 230px;
	right: -370px;
	background: url('../images/line.png')no-repeat center;
	background-position: -20px 40px;
}
#stopwatch #button{margin-top: 70px;}
#stopwatch #button li{display: inline-block;}
#stopwatch #button li button{
	width: 125px;
	height: 40px;
	background-color: rgba(0,0,0,0);
	border: 1px solid #ed4264;
	border-radius: 20px;
	color: #fff;
	letter-spacing: 1px;
	padding:0;
	margin: 0 0 0 20px;
}
#stopwatch #button li button:active{background-color: #F62459;}
#stopwatch #button li button:first-child{margin:0;}
#stopwatch #lapbox{
	width: 620px;
	height: 200px;
	overflow-y: scroll;
	margin-top: 50px;
}
#stopwatch #lapbox li{
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 5px;
	font-style:italic;
	color:#fff;
	margin-top: 20px;
}

/* 스크롤 바 */
#lapbox::-webkit-scrollbar{
	width: 12px;
	background-color: rgba(255,255,255,0);
}
#lapbox::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(237,66,100,0.4);
}

/*alarm*/

#alarm{position: relative;}
#alarm div:first-child{
	position: absolute;
	top: 50%; left:50%;
	margin: -50px 0 0 -130px;
}
#alarm div span{
	display: inline-block;
	color: #fff;
	font-size: 100px;
	margin-right : 30px;
}
#alarm button{
	background-image: linear-gradient(122deg,#ed4264,#ffedbc);
	opacity: 0.5;
	border: none;
	width: 200px;
	height: 40px;
	position: absolute;
	top: 50%; left: 50%;
	margin : 100px 0 0 -100px;
	border-radius: 20px;
	z-index: 100;
	font-style: italic;
	letter-spacing: 1px;
}
#alarm #message{
	position: absolute;
	width: 500px;
	height: 300px;
	top:50%; left: 50%;
	margin: -150px 0 0 -250px;
}
#alarm #message ul{width: 500px; text-align: center; color: #fff;}
#alarm #message ul h2{letter-spacing: 1px; font-style: italic; left: 50%; text-align: center;}
#alarm #message ul p{
	display: block;
	color:#fff;
	font-size:20px;
	font-style: italic;
	margin-top: 15px;
	background: -webkit-linear-gradient(120deg,#ed4264, #ffedbc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#alarm #message ul li{}
#alarm #message #before{
	background: url('../images/message.png')no-repeat center;
	position: absolute;
	width: 500px;
	height: 300px;
	top:50%; left: 50%;
	margin: -150px 0 0 -250px;
}
#alarm #message #effect{
	background: url('../images/message.png')no-repeat center;
	position: absolute;
	width: 500px;
	height: 300px;
	top:50%; left: 50%;
	margin: -150px 0 0 -250px;
	display: none;
	animation-name: effect;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes effect {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#slideshow-wrap input[type=radio] {
		position: absolute;
		z-index: 100;
		display: none;
}

/*라벨*/
#slideshow-wrap label {
		position: absolute;
		top:50%;
		right: 50px;
		margin-top: -60px;
		z-index: 100;
		opacity: 0.5;
		width: 10px;
		height: 40px;
		cursor: pointer;
		background-color: #fff;
		/*
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;*/
}
/*라벨 현재 위치 색 다르게 표시*/
#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1]{background-color: #ff5858; opacity: 1;}
#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2]{background-color: #F62459; opacity: 1;}
#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3]{background-color: #ffedbc; opacity: 1;}
#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4]{background-color: #fff; opacity: 1;}

/*라벨 위치*/
#slideshow-wrap label[for=button-1] {margin: -60px 0 0;}
#slideshow-wrap label[for=button-2] {margin: -20px 0 0;}
#slideshow-wrap label[for=button-3] {margin: 20px 0 0;}
#slideshow-wrap label[for=button-4] {margin: 60px 0 0;}

/*슬라이드 되는 위치*/
#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>section{left: 0;}
#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>section{left: -100%;}
#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>section{left: -200%;}
#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>section{left: -300%;}
