*{padding: 0; margin: 0;
-webkit-box-sizing: border-box;;
box-sizing: border-box;;
transition: all 0.15s ease-in;}
body{
  background-color: #fff;
}
a{
  text-decoration: none;
}

h1{
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  color: #5f6678;
  margin: 70px 0;
}
#bar{
  display: block;
  width: 100%; height: 1px;
  background-color: #dadada;
}
section{
  height: 700px;
}
article{
  height: inherit;
}
ul{
  width:800px ;  margin: 0 auto;
  background-color: #eee;
}
li{
  list-style: none;
  width: 200px; height:200px;
  float: left;
  margin-right: 100px;
  margin-top: 100px;
  background-color: #e7e7e7;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.57);
  border-radius: 5px;
}
li:first-child{
  background-color: #78e0f2;
}
li:nth-child(2){
  background-color: #facc73;
}
li:nth-child(3){
  background-color: #90ebb7;
}
li:nth-of-type(3n){
  margin-right: 0;
}
li > a{
  width: 100%; height: 100%;
  display: inline-block;
  color: #fff;
}
li > a > h2{
  width: 100%;
  font-size: 30px;
  position: absolute;
  line-height: 1.5em;
  padding: 10px;
  padding-left: 20px;
  font-weight: lighter;
}
li > a > h3{
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  font-weight: lighter;
  margin-top: 85px;
}

li > a > p{
  border-top: 1px solid rgba(255, 255, 255, 0.57);
  width: 100%;
  display: block;
  position: absolute; bottom: 20px;
  padding: 20px 20px 0 20px;
  font-weight: lighter;
}

footer{
  color: #5f6678;
  font-weight: lighter;
  width: 100%;
  text-align: center;
  padding: 50px;
  border-top: 1px solid #dadada;
}
